# Directory

In [35]:
pwd

'E:\\BINAR\\Binar-Gold-Challenge\\API\\DataBase'

In [1]:
import sqlite3

# Connect to database

In [2]:
conn = sqlite3.connect("Database_processing.db")
print("Opened database successfully")

Opened database successfully

# Create Table

## input_text Table

In [3]:
conn.execute( '''
    CREATE TABLE input_text (
        text VARCHAR(300)
        );
    ''')

print("Table created successfully")

Table created successfully

In [4]:
conn.execute( '''
    CREATE TABLE output_text (
        text VARCHAR(300)
        );
    ''')

print("Table created successfully")

Table created successfully

In [5]:
conn.execute( '''
    CREATE TABLE input_Tweet (
        Tweet VARCHAR(300)
        );
    ''')

print("Table created successfully")

Table created successfully

In [6]:
conn.execute( '''
    CREATE TABLE clean_Tweet (
        Tweet VARCHAR(300)
        );
    ''')

print("Table created successfully")

Table created successfully

In [38]:
conn.close()

# Delate All row

In [39]:
import sqlite3

In [23]:
conn = sqlite3.connect("Database_processing.db")
cursor = conn.cursor()

In [24]:
cursor.execute('DELETE FROM input_text;',)
#print('We have deleted', cursor.rowcount, 'records from the table.')

In [25]:
cursor.execute('DELETE FROM output_text;',)
#print('We have deleted', cursor.rowcount, 'records from the table.')

In [26]:
cursor.execute('DELETE FROM input_Tweet;',)
#print('We have deleted', cursor.rowcount, 'records from the table.')

In [27]:
cursor.execute('DELETE FROM clean_Tweet;',)
#print('We have deleted', cursor.rowcount, 'records from the table.')

In [28]:
#commit all query
conn.commit()

In [12]:
conn.close()

# SHOW VALUES in TABLES

In [35]:
import pandas as pd
import sqlite3

In [42]:
conn = sqlite3.connect("Database_processing.db")

### Table input_text

In [43]:
df_input_text = pd.read_sql_query('SELECT * FROM input_text', conn)
df_input_text

Empty DataFrame
Columns: [text]
Index: []

### Table output_text

In [44]:
df_output_text = pd.read_sql_query('SELECT * FROM output_text', conn)
df_output_text

Empty DataFrame
Columns: [text]
Index: []

### Table input_tweet

In [45]:
df_input_Tweet = pd.read_sql_query('SELECT * FROM input_Tweet', conn)
df_input_Tweet

Empty DataFrame
Columns: [Tweet]
Index: []

### Table clean_Tweet

In [46]:
df_output_Tweet = pd.read_sql_query('SELECT * FROM clean_Tweet', conn)
df_output_Tweet

Empty DataFrame
Columns: [Tweet]
Index: []

In [41]:
conn.close()